#treeview, #treeview ul {
    list-style: none;
}
 
    #treeview .parent {
        position: relative;
        cursor: pointer; 
    }
 
        #treeview .parent:before {
            padding-left: 25px;
            background: url(Image/plus-minus.png) no-repeat;
            background-position: -25px top;
            content: "";
            height: 25px;
        }
 
    #treeview .close:before {
        background-position: 0 top;
    }
 
    #treeview .parent > ul {
        display: none;
    }