/* Roboto regular */

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.eot");
    src: url("/fonts/Roboto/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
         /*url("/fonts/Roboto/Roboto-Regular.woff2") format('woff2'),
         url("/fonts/Roboto/Roboto-Regular.woff") format('woff'),*/
         url("/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Roboto italic */

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto/Roboto-Italic.eot');
    src: url('/fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         /*url('/fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
         url('/fonts/Roboto/Roboto-Italic.woff') format('woff'),*/
         url('/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Roboto bold */

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto/Roboto-Bold.eot');
    src: url('/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         /*url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
         url('/fonts/Roboto/Roboto-Bold.woff') format('woff'),*/
         url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body
{
    /*font-family: "Roboto",Arial,sans-serif;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* make colors scss */
.color-primary {
    color:#260643
}
.color-primary-light {
    color:#5C3E76;
}
.btn-primary, 
.page-item.active .page-link {
    background-color: #260643;
    border-color: #260643;
}
.btn-primary i.fa,
.btn-primary i.fa:hover {
    color:#efefef;
}
.btn-primary:hover, 
.page-item.active .page-link:hover {
    background-color: #5C3E76;
    border-color: #5C3E76;
}

.btn-outline:hover {
    border-color: #260643;
}

.btn-secondary {
    background-color: #FFC312;
    color: #260643;
    border-color:  rgb(219, 166, 8);
}

.btn-secondary:hover{
    background-color: rgb(233, 217, 170);
    color: #260643;
    border-color: rgb(233, 217, 170);
}

i.fa {
    color:#260643;
}

i.fa:hover {
    color:#5C3E76;
}

/* end of colors */

#main-nav.navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #efefef;
    z-index: 1030;
    opacity: 0.97;
}
.navbar.navbar-bottom-bordered {
    border-bottom: 1px solid #ccc;
    line-height: 1;
    padding: 0px 10px;
}

.navbar.navbar-bottom-bordered ul.top-level li a {
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #666;
}

.navbar.navbar-bottom-bordered ul.n-level li a {
    font-weight: initial;
    font-size: 0.95em;
    text-transform: none;
}

.navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}



@media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }

    main.container {
        margin-top:65px;
    }
}

.navbar-brand {
    background-color: #fff;
    border-radius: 0.25em;
    padding-left: 20px;
    padding-right: 20px;
}
.logo.wrapper img{
    height: 40px;
}
.fit-image{
    object-fit: cover;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.navbar.bg-dark {
    background-image: url("/assets/Finance/bg-nav.png");
    background-size: cover;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.85) !important;
}
.navbar-nav {
    margin-top:20px;
}
a {
    color: darkblue;
}

.page-title {
    font-size: 1.25em;
    min-height: 30px;
}
.page-description {
    font-size: 1em;
    color: #777;
}

main.container {
    margin-bottom: 50px;
}

.home-module-cards a{
    text-decoration: none;
}

.home-module-cards .card {
    margin: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.home-module-cards .card:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9), 0 2px 10px 0 rgba(0, 0, 0, 0.9);
}

.home-module-cards .module-icon  {
    padding: 10px;
    color: #190445;
    background-color: #FFC312;
}

.report-filter-icons {
    position: absolute;
    right: 80px;
    top: 75px;
}
.report-filter-icons i {
    padding-left: 10px;
    font-size: 1.5em;
}
.report-filter-wrapper {
    min-width:400px;
    border-left: 2px solid #ccc;
    position: fixed;
    right: 0;
    min-height: 100%;
    top: 51px;
    background-color: #fffeee;
    padding:25px;
    height: auto;
    padding-bottom: 75px;
}
.report-filter-icons i.fa,
.report-filter-wrapper i.fa  {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}

.report-filter-wrapper .report-filter-header {
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px dotted #dadada;
    padding-bottom: 10px;
}
.report-filter-wrapper form .vertical-align label {
    display:block;
    font-weight: bold;
    margin-bottom: 0px;
}

.report-buttons-bottom {
    position: fixed;
    background-color: #fffeee;
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: -25px;  
    padding-bottom:20px;  
    bottom:0px;
}

.report-container {
    font-size: 18px;
}


/** dropdowns **/
.account-dd-head {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.account-dd-small {
    font-size: 0.8em;
    text-indent: 10px;
}