.error  {
    color: red;
}
.margin-center {
    margin-left:auto;
    margin-right:auto;
}
.margin-left-auto {
    margin-left:auto; 
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.dropdown-item .disabled {
    color: #666;
}
.dropdown-item i {
    padding-right: 4px;
    width: 20px;
}
#main-nav div ul li:nth-child(5) ul,
#main-nav div ul li:nth-child(6) ul
{
    right: 0;
    left: unset;
}
#main-nav .dropdown-menu {
    border-radius: 0 0 0.25em 0.25em;
}

ul#user-settings .dropdown-menu {
    left:auto;
    right: 0;
    margin-top: 10px;
}

.dataTables_wrapper .dt-buttons.btn-group {
    display: inline-block;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
}

.btn.btn-outline {
    border: 1px solid #ccc;
}

@media (min-width: 768px) {
    ul#user-settings {
        margin-left: 50px;
    }
}

/* messages */
.msg {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: .25em;
}
.msg .msg-header .msg-title {
    font-weight: bold;
}

.msg.msg-info {
    border: 1px solid #6BB8E1;
    background-color: #D0ECFB;
}
.msg.msg-info i,.msg.msg-info .msg-title {
    color: #2E82BF;
}

.msg.msg-error {
    border: 1px solid #A02813;
    background-color: #F9B2BE;
}
.msg.msg-error i,.msg.msg-error .msg-title {
    color: #A02813;
}

.msg.msg-warning {
    border: 1px solid #FFC300;
    background-color: #F9E79F;
}
.msg.msg-warning i,.msg.msg-warning .msg-title {
    color: #EA9F24;
}

.msg.msg-success {
    border: 1px solid #24A820;
    background-color: #DEF5DD;
}
.msg.msg-success i,.msg.msg-success .msg-title {
    color: #24A820;
}

.search-results {
    margin: 25px 0;
}

.search-results article {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 25px;
    margin-top: 10px;
}
.search-results article .excerpt {
    border-left: 1px solid #dadada;
}
.search-results .search-result ul { padding-left: 0 !important; list-style: none;  }
.search-results article:hover{
    background-color: #efefef;
}

form .lbl {
    font-weight: 550;
}

.nav .nav-link.active {
    background-color: #efefef;
}

.form-control.inline {
    display:inline-block!important;
}
.form-control.datepicker {
    width: 80%!important;
    display:inline-block;
}
.ui-datepicker-trigger {
    background-color: transparent;
    border: none;
}